div {
    background-color: pink;
    height: 50px;
    width: 50px;
}
@media (width: 600px){
    div {
        background-color: red;
    }
}
@media (min-width: 600px){
    div {
        background-color: aqua;
    }
}
@media (min-width: 200px) and (max-width: 300px){
    div {
        background-color: blue;
    }
}
@media (max-width: 600){
    div {
        background-color: blueviolet;
    }
}